.labeled-input-container {  
    width: 100%;  
}  
    
.labeled-input-label {  
    display: block;  
    margin-bottom: 0.25em;  
}  
    
.labeled-input-label.bold {  
    font-weight: bold;  
}  
    
.labeled-input-field {  
    width: 100%;  
    padding: 0.5em;  
    margin-top: 4px;  
    border-radius: 4px;  
    border: 1px solid #666;  
    background: #333;  
    color: #ffe;  
    box-sizing: border-box;  
}  
  